---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import TagRow from "./TagRow.astro";

type Props = {
  post: CollectionEntry<"blog">;
  highlight?: string | null | undefined;
};

const {
  post: {
    data: { title, pubDate, tags },
    slug,
  },
  highlight,
} = Astro.props;
---

<div class="relative">
  <a href={`/blog/${slug}/`} transition:name={`${title} ${pubDate} card`}>
    <div
      class="after:transition-top relative rounded-md border-2 border-black after:absolute after:left-[10px] after:top-[10px] after:-z-10 after:h-full after:w-full after:rounded-md after:bg-svg2 after:duration-300 hover:after:-top-[10px]"
      id="outer"
    >
      <div
        class="relative z-10 flex h-full w-full flex-col items-start bg-white bg-svg1 p-3"
      >
        <h4 class="text-wrap text-lg font-bold">
          <span class="blur-target" transition:name={title}>{title}</span>
        </h4>
        <div class="py-1"></div>
        <p class="text-sm italic">
          <span class="blur-target" transition:name={`${title} ${pubDate}`}>
            <FormattedDate date={pubDate} />
          </span>
        </p>
      </div>
    </div>
  </a>
  <TagRow
    tags={tags}
    articleName={title}
    class="absolute bottom-2 right-2 z-10"
    highlight={highlight}
  />
</div>
