---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  essay: CollectionEntry<"essays">;
};

const {
  essay: {
    data: { title, pubDate },
    id,
  },
} = Astro.props;
---

<div class="relative" transition:name={`${title} ${pubDate} card`}>
  <a href={`/blog/${id}`} class="peer">
    <div class="relative overflow-hidden rounded-md border-2 border-black">
      <div
        class="bg-svg1 relative z-10 flex h-full w-full flex-col items-start bg-white p-3"
      >
        <h4 class="text-lg font-bold text-wrap">
          <span
            class="relative inline-block before:absolute before:top-0 before:right-0
              before:bottom-0 before:left-0 before:-z-10 before:bg-white before:blur-[0.5em]
              before:content-['']"
            transition:name={title}>{title}</span
          >
        </h4>
        <div class="py-1"></div>
        <p class="text-sm italic">
          <span
            class="relative inline-block before:absolute before:top-0 before:right-0
              before:bottom-0 before:left-0 before:-z-10 before:bg-white before:blur-[0.5em]
              before:content-['']"
            transition:name={`${title} ${pubDate}`}
          >
            <FormattedDate date={pubDate} />
          </span>
        </p>
      </div>
    </div>
  </a>
  <div
    class="transition-top bg-svg2 absolute top-[0.5em] left-[0.5em] -z-10 h-full w-full
      rounded-md duration-300 peer-hover:-top-[0.5em]"
  >
  </div>
</div>
