---
import { cn } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";

type Props = {
  tags: CollectionEntry<"blog">["data"]["tags"];
  articleName: string;
  class?: string;
  highlight?: string | undefined | null;
};

const { tags, articleName, class: className, highlight } = Astro.props;
---

<div class={className}>
  {
    tags?.map((tag) => (
      <a href={`/blog/tags/${tag}`}>
        <p
          class={cn(
            `relative inline-block rounded-xl border border-black px-1 text-sm
            before:absolute before:top-0 before:right-0 before:bottom-0 before:left-0
            before:-z-10 before:bg-white before:blur-[0.5em] before:content-['']
            hover:bg-black hover:text-white hover:filter-none hover:before:bg-transparent
            hover:before:filter-none`,
            {
              "bg-black text-white filter-none before:bg-transparent before:filter-none":
                highlight === tag,
            },
          )}
          transition:name={`${articleName} - tag -${tag}`}
        >
          {tag}
        </p>
      </a>
    ))
  }
</div>
