---
import * as Constants from "@/consts";
import HeaderExternalLink from "./HeaderExternalLink.astro";
import HeaderInternalLink from "./HeaderInternalLink.astro";

type Props = {
  keyword: Constants.JS_KEYWORD;
};

const { keyword } = Astro.props;
---

<nav class="flex flex-col items-start gap-y-2">
  <a href="/"><h1 class="text-2xl font-bold">{Constants.SITE_TITLE}</h1></a>
  <h2 class="text-center italic" id="v-header-keyword">{keyword}</h2>
  <script is:inline>
    document.getElementById("v-header-keyword").innerHTML = randomKeyword;
  </script>
  <div class="py-1"></div>
  <HeaderInternalLink href="/blog" label="Blog" />
  <HeaderInternalLink href="/videos" label="Videos" />
  <HeaderInternalLink href="/projects" label="Projects" />
  <HeaderInternalLink href="/things" label="Things" />
  <div class="py-2"></div>
  <HeaderExternalLink href={Constants.TWITTER_LINK} label="Twitter" />
  <HeaderExternalLink href={Constants.GITHUB_LINK} label="GitHub" />
  <HeaderExternalLink href={Constants.YOUTUBE_LINK} label="YouTube" />
  <HeaderExternalLink href={Constants.LINKEDIN_LINK} label="LinkedIn" />
  <HeaderExternalLink href={Constants.EMAIL_LINK} label="Email" />
  <HeaderExternalLink href="/rss.xml" label="RSS" />
</nav>
