---
import * as Constants from "@/consts";
import HeaderExternalLink from "./HeaderExternalLink.astro";
import HeaderInternalLink from "./HeaderInternalLink.astro";

type Props = {
  keyword?: string | undefined;
};

const { keyword } = Astro.props;

function getRandomJSKeyword() {
  const randomIndex = Math.floor(Math.random() * Constants.JS_KEYWORDS.length);
  return Constants.JS_KEYWORDS[randomIndex] ?? "JavaScript";
}
---

<nav class="flex flex-col items-start gap-y-2">
  <a href="/"><h1 class="text-2xl font-bold">{Constants.SITE_TITLE}</h1></a>
  <h2 class="text-center italic">{keyword ?? getRandomJSKeyword()}</h2>
  <div class="py-1"></div>
  <HeaderInternalLink href="/blog">Blog</HeaderInternalLink>
  <HeaderInternalLink href="/videos">Videos</HeaderInternalLink>
  <HeaderInternalLink href="/projects">Projects</HeaderInternalLink>
  <HeaderInternalLink href="/things">Things</HeaderInternalLink>
  <div class="py-2"></div>
  <HeaderExternalLink href={Constants.TWITTER_LINK}>Twitter</HeaderExternalLink>
  <HeaderExternalLink href={Constants.GITHUB_LINK}>GitHub</HeaderExternalLink>
  <HeaderExternalLink href={Constants.YOUTUBE_LINK}>YouTube</HeaderExternalLink>
  <HeaderExternalLink href={Constants.LINKEDIN_LINK}
    >LinkedIn</HeaderExternalLink
  >
  <HeaderExternalLink href={Constants.EMAIL_LINK}>Email</HeaderExternalLink>
  <HeaderExternalLink href="/rss.xml">RSS</HeaderExternalLink>
</nav>
