---
import Page from "@/layouts/Page.astro";
import BlogPostList from "@/components/BlogPostList.astro";
import { SITE_TITLE } from "@/lib/consts";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const collection = await getCollection("blog");
  const tags = new Set<string>();
  for (const post of collection) {
    for (const tag of post.data.tags ?? []) {
      tags.add(tag);
    }
  }
  return Array.from(tags).map((tag) => ({
    params: { tag },
    props: { tag },
  }));
}

const { tag } = Astro.props;
---

<Page
  title={`Blog - ${tag} | ${SITE_TITLE}`}
  description={`All posts tagged with ${tag}`}
>
  <h1 class="text-4xl font-bold">{`Blog - ${tag}`}</h1>
  <div class="py-1"></div>
  <a href="/blog/tags" class="underline md:no-underline md:hover:underline"
    >See all tags</a
  >
  <div class="py-3"></div>
  <hr />
  <div class="py-3"></div>
  <BlogPostList tag={tag} />
</Page>
