---
import Page from "@/layouts/Page.astro";
import BlogPostList from "@/components/BlogPostList.astro";
import { getCollection } from "astro:content";
import { SITE_TITLE } from "@/consts";

// export async function getStaticPaths() {
//   const posts = await getCollection("blog");
//   const allTagsDup = posts
//     .flatMap((post) => post.data.tags)
//     .filter((tag): tag is string => !!tag);
//   const allTags = [...new Set(allTagsDup)];
//   return allTags.map((tag) => ({
//     params: { tag },
//   }));
// }

const { tag } = Astro.params;
if (!tag) {
  return Astro.redirect("/blog/tags");
}
---

<Page
  title={`Blog - ${tag} | ${SITE_TITLE}`}
  description={`All posts tagged with ${tag}`}
>
  <h1 class="text-4xl font-bold">{`Blog - ${tag}`}</h1>
  <div class="py-1"></div>
  <a href="/blog/tags" class="underline md:no-underline md:hover:underline"
    >See all tags</a
  >
  <div class="py-3"></div>
  <hr />
  <div class="py-3"></div>
  <BlogPostList tag={tag} />
</Page>
