---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "./Page.astro";
import { SITE_TITLE } from "@/consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Page title={`${title} | ${SITE_TITLE} | Blog`} description={description}>
  <h1 class="font-bold text-4xl">
    <span transition:name={title}>{title}</span>
  </h1>
  <div class="py-1"></div>
  <FormattedDate date={pubDate} />
  {
    updatedDate && (
      <div class="last-updated-on">
        Last updated: <FormattedDate date={updatedDate} />
      </div>
    )
  }
  <div class="py-3"></div>
  <hr />
  <div class="py-3"></div>
  <article class="prose">
    <slot />
  </article>
</Page>
