---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "./Page.astro";
import { SITE_TITLE } from "@/lib/consts";
import TagRow from "@/components/TagRow.astro";

type Props = CollectionEntry<"blog">["data"] & {
  ogImage?: string | undefined;
};

const { title, description, pubDate, updatedDate, tags, ogImage, draft } =
  Astro.props;
---

<Page
  title={`${title} | ${SITE_TITLE} | Blog`}
  description={description}
  ogImage={ogImage}
  noindex={draft}
>
  {
    draft && (
      <div class="mb-6 rounded-lg border-2 border-orange-400 bg-orange-50 p-4">
        <div class="flex items-center gap-3">
          <div class="text-orange-600">
            <svg
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div class="text-orange-800">
            <p class="font-semibold">This is a draft</p>
            <p class="text-sm">
              Please do not share it. Any feedback is appreciated!
            </p>
          </div>
        </div>
      </div>
    )
  }

  <h1 class="text-4xl font-bold">
    <span transition:name={title}>{title}</span>
  </h1>
  <div class="py-1"></div>
  <span transition:name={`${title} ${pubDate}`}>
    <FormattedDate date={pubDate} />
  </span>
  {
    updatedDate && (
      <>
        <div class="py-1" />
        <div class="last-updated-on">
          Last updated: <FormattedDate date={updatedDate} />
        </div>
      </>
    )
  }
  <div class="py-1"></div>
  <TagRow tags={tags} articleName={title} />
  <div class="py-3"></div>
  <hr />
  <div class="py-3"></div>
  <article class="prose">
    <slot />
  </article>
</Page>
