---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "./Page.astro";
import { SITE_TITLE } from "@/consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Page title={`${title} | ${SITE_TITLE} | Blog`} description={description}>
  <article class="prose">
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <h1>{title}</h1>
    <hr />
    <slot />
  </article>
</Page>
