---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import VerticleHeader from "@/components/VerticleHeader.astro";
import "../styles/global.css";
import * as Constants from "@/consts";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = Constants.SITE_TITLE,
  description = Constants.SITE_DESCRIPTION,
  image = "/images/twitter.png",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <link
      rel="preload"
      href="/fonts/BerkeleyMonoTrial-Regular.otf"
      as="font"
      type="font/otf"
      crossorigin
    />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>

  <body class="flex flex-col min-h-screen w-full p-10">
    <div class="flex flex-grow">
      <aside class="w-1/4">
        <VerticleHeader />
      </aside>
      <main class="w-3/4 max-w-3xl">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
