---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import VerticleHeader from "@/components/VerticleHeader.astro";
import "../styles/global.css";
import * as Constants from "@/consts";
import Footer from "@/components/Footer.astro";
import HorizontalHeader from "@/components/HorizontalHeader.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string | undefined;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = Constants.SITE_TITLE,
  description = Constants.SITE_DESCRIPTION,
  image = "/images/twitter.png",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <link
      rel="preload"
      href="/fonts/BerkeleyMono-Regular.woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/BerkeleyMono-Italic.woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/BerkeleyMono-Bold.woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/BerkeleyMono-BoldItalic.woff2"
      as="font"
      type="font/woff2"
    />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "84933259d875475985c66180f81b73bf"}'></script>
    <ViewTransitions />
  </head>

  <body class="flex min-h-screen w-full flex-col p-4 font-normal md:p-10">
    <div class="md:hidden">
      <HorizontalHeader />
      <div class="py-4"></div>
    </div>
    <div class="flex-grow md:flex">
      <aside class="hidden md:block md:w-1/4">
        <VerticleHeader />
      </aside>
      <main class="w-full md:w-3/4 md:max-w-2xl">
        <slot />
      </main>
    </div>
    <div class="py-7"></div>
    <Footer />
  </body>
</html>
